## ETL y EDA

## #Problematica:
- Crea una tabla en SQL con el número de ratings y la media del rating por cada película
- Puedes crearnos una tabla SQL para que la podamos consultar

In [2]:
import pandas as pd
import numpy as np
import sql

## #Extract
- Importamos los datos

In [3]:
#Exporamos los resultados:
movie = pd.read_csv('movie.csv')
rating = pd.read_csv('rating.csv')

## #Empezamos hacer la visualizacion de los datos:

In [4]:
movie.count()

movieId    27278
title      27278
genres     27278
dtype: int64

In [4]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

## #Normalizamos la base de datos: Transform
- new table = ratings and media rating for movie
- new table = from 
- Crea una tabla en SQL con el número de ratings y la media del rating por cada película
- Puedes crearnos una tabla SQL para que la podamos consultar

In [5]:
#Scamos la columnas inncesarias
new_table = rating.drop(columns=['timestamp', 'userId','movieId'])

In [6]:
#empezamos a unir las columnas con movie
new_table = pd.concat([new_table, movie], axis=1)

In [7]:
#Emepezamos a sacar los valores Nan
new_table.iloc[27277:]

          rating   movieId             title                    genres
27277        4.0  131262.0  Innocence (2014)  Adventure|Fantasy|Horror
27278        4.0       NaN               NaN                       NaN
27279        3.5       NaN               NaN                       NaN
27280        5.0       NaN               NaN                       NaN
27281        3.5       NaN               NaN                       NaN
...          ...       ...               ...                       ...
20000258     4.5       NaN               NaN                       NaN
20000259     4.5       NaN               NaN                       NaN
20000260     3.0       NaN               NaN                       NaN
20000261     5.0       NaN               NaN                       NaN
20000262     2.5       NaN               NaN                       NaN

[19972986 rows x 4 columns]

In [8]:
#Empezamos a sacar los datos que no vayamos a necesitar:
table = new_table.dropna()

In [10]:
#Comprobamos si desde se borraron todas correctamente pasandonos de un numero de filas:
table.head(27279)

,rating,movieId,title,genres
0,3.5,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,3.5,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,3.5,3.0,Grumpier Old Men (1995),Comedy|Romance
3,3.5,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,3.5,5.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
27273,5.0,131254.0,Kein Bund für's Leben (2007),Comedy
27274,3.5,131256.0,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,4.0,131258.0,The Pirates (2014),Adventure
27276,4.5,131260.0,Rentun Ruusu (2001),(no genres listed)
27277,4.0,131262.0,Innocence (2014),Adventure|Fantasy|Horror

In [11]:
#Obtenemos la media de Rating de la nueva tabla:
table['rating'].median()

4.0

## #Load

In [12]:
table.to_csv('newtable.csv')